In [1]:
%matplotlib inline 
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
name = input("怎麼稱呼您?")
tira = int(input("您訂購的提拉米蘇數量為:"))
lemon = int(input("您訂購的檸檬塔數量為:"))
oreo = int(input("您訂購的oreo生乳酪蛋糕數量為:"))
choco = int(input("您訂購的生巧克力數量為:"))
price = tira*440 + lemon*210 + oreo*360 +choco*350

print("謝謝您的訂購! 您的訂單總金額為：" + str(price))

怎麼稱呼您?2
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:2
您訂購的oreo生乳酪蛋糕數量為:2
您訂購的生巧克力數量為:2
謝謝您的訂購! 您的訂單總金額為：2720

In [11]:
data = {"姓名": name, "提拉米蘇": tira, "檸檬塔": lemon, "oreo生乳酪": oreo, "生巧克力": choco, "訂單總價": price}
data = pd.Series(data)

df = pd.DataFrame(columns = ["姓名","提拉米蘇","檸檬塔","oreo生乳酪","生巧克力","訂單總價"])
df = df.append(data,ignore_index=True)
df

  姓名 提拉米蘇 檸檬塔 oreo生乳酪 生巧克力  訂單總價
0  2    2   2       2    2  2720

In [ ]:
配送方式
0/面交/地點
1/宅配/地址