# HomeBake的小幫手(3)_105405132 宋靜 廣告四

HomeBake是我最近在經營的甜點材料盒品牌!<br>但因為才剛開始，很多程序都還沒系統化<br>想利用上學期學到(現在快忘光)的pandas<br>一邊複習、一邊幫HomeBake製作便利的系統

# 3.篩選資料
現在我想加上詢問客人的取貨方式(有宅配和面交兩種)<br>
並且想在資料統整的時候，<br>
可以只過濾出填選宅配的訂單，方便配送!

In [2]:
%matplotlib inline 
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame(columns = ["姓名", "提拉米蘇", "檸檬塔", "oreo生乳酪", "生巧克力", "訂單總價", "取貨方式", "地點"])

while True:
    name = input("怎麼稱呼您?")
    if name == "Q":
        break
    tira = int(input("您訂購的提拉米蘇數量為:"))
    lemon = int(input("您訂購的檸檬塔數量為:"))
    oreo = int(input("您訂購的oreo生乳酪蛋糕數量為:"))
    choco = int(input("您訂購的生巧克力數量為:"))
    price = tira*440 + lemon*210 + oreo*360 +choco*350
    pick = input("您希望宅配或是面交?(宅配請輸入0；面交請輸入1)")
    if pick == "0":
        locat = input("請輸入宅配地址:")
    elif pick == "1":

        locat = input("您希望的面交地址為?(台北車站:1、市政府站:2、公館站:3)")

    print("謝謝您的訂購! 您的訂單總金額為：" + str(price))
    data = {"姓名": name, "提拉米蘇": tira, "檸檬塔": lemon, "oreo生乳酪": oreo, "生巧克力": choco, "訂單總價": price, "取貨方式": pick, "地點": locat}
    data = pd.Series(data)
    df = df.append(data,ignore_index=True)
    
df

怎麼稱呼您?1
您訂購的提拉米蘇數量為:1
您訂購的檸檬塔數量為:1
您訂購的oreo生乳酪蛋糕數量為:1
您訂購的生巧克力數量為:1
您希望宅配或是面交?(宅配請輸入0；面交請輸入1)0
請輸入宅配地址:嗚嗚嗚
謝謝您的訂購! 您的訂單總金額為：1360
怎麼稱呼您?2
您訂購的提拉米蘇數量為:2
您訂購的檸檬塔數量為:2
您訂購的oreo生乳酪蛋糕數量為:2
您訂購的生巧克力數量為:2
您希望宅配或是面交?(宅配請輸入0；面交請輸入1)1
您希望的面交地址為?(台北車站:1、市政府站:2、公館站:3)1
謝謝您的訂購! 您的訂單總金額為：2720
怎麼稱呼您?3
您訂購的提拉米蘇數量為:1
您訂購的檸檬塔數量為:1
您訂購的oreo生乳酪蛋糕數量為:1
您訂購的生巧克力數量為:2
您希望宅配或是面交?(宅配請輸入0；面交請輸入1)0
請輸入宅配地址:fff
謝謝您的訂購! 您的訂單總金額為：1710
怎麼稱呼您?Q

  姓名 提拉米蘇 檸檬塔 oreo生乳酪 生巧克力  訂單總價 取貨方式   地點
0  1    1   1       1    1  1360    0  嗚嗚嗚
1  2    2   2       2    2  2720    1    1
2  3    1   1       1    2  1710    0  fff

In [5]:
df[df["取貨方式"]=="0"]

  姓名 提拉米蘇 檸檬塔 oreo生乳酪 生巧克力  訂單總價 取貨方式   地點
0  1    1   1       1    1  1360    0  嗚嗚嗚
2  3    1   1       1    2  1710    0  fff

In [12]:
print("本週提拉米蘇總數",df["提拉米蘇"].sum(0))
print("本週檸檬塔總數",df["檸檬塔"].sum(0))
print("本週oreo生乳酪蛋糕總數",df["oreo生乳酪"].sum(0))
print("本週生巧克力總數",df["生巧克力"].sum(0))

本週提拉米蘇總數 4
本週檸檬塔總數 4
本週oreo生乳酪蛋糕總數 4
本週生巧克力總數 5